/* body {
  display: none;
} */
/* ============================== GOOGLE FONTS =========================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap");

/* ============================== CSS VARIABLES =========================== */
:root {
  --header-height: 3rem;

  /* Color mode HSL(hue, saturation, lightness */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), -0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /* ========== Font And Typography */
  --body-font: "poppins", sans-serif;

  /* .5rem - 8px | 1rem - 16px*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* Font weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margin bottom */
  /* .5rem = 8px | 1rem = 16px */

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-3: 3rem;

  /* ==== Z index ===== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Dark Variable Themes*/
#light {
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 17%);
  /* --title-color-dark: #110a3d; */

  --button-text-color: black;
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --button-icon-color: #fff;
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;
  --box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
#dark {
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 96%);
  --title-color-dark: #ffb400;
  --text-color: hsl(var(--hue), var(--sat), 90%);
  --body-color: #111;
  --button-icon-color: #fff;
  --box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);

  /* --body-color: #111; */
  --container-color: hsl(var(--hue), var(--sat), 10%);
}

/* Responsive media query */
@media screen and (max-width: 992px) {
  :root {
    --big-font-sixe: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* ============================ Base =============================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ============================ Reusable CSS Classes =============================== */
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color-dark);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
  color: var(--text-color);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* ============================ Layouts =============================== */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/* ============================ Buttons =============================== */

.button {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 1px solid var(--title-color-dark);
  margin-top: 0.5rem;
  /* outline: none !important; */
}

.button .button-text {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  transition: 0.3s ease-out all;
}

.button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s ease-out all;
}

.button:hover .button-text {
  color: #ffffff;
  /* color: var(--title-color-dark); */
}

.button:hover:before {
  background-color: var(--title-color-dark);
  transform: translateX(0);
}

.button-icon {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: var(--button-icon-color);
  background-color: var(--title-color-dark);
  border-radius: 50%;
}

/* ============================ Breake Point =============================== */
/* For Large Devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  .button {
    padding: 1rem 1.75rem;
  }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height);
  }

  .section {
    padding: 2rem 0 4rem;
  }
  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
  .button {
    padding: 8px 35px 8px 16px;
    width: 8rem;
  }

  .cv {
    padding: 8px 35px 8px 16px;
    width: 12rem;
  }
  .button-icon {
    width: 40px;
    height: 40px;
    font-size: 16px;
    /* padding-left: 0.5rem; */
  }
}

@media screen and (max-width: 576px) {
}

/*  For Small Devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
